#search-container {
  position: relative;
  flex: 1;
  min-width: 300px;
}

#search-container::before {
  content: "🔍";
  position: absolute;
  left: 1vh;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  opacity: 0.6;
}

#search-input {
  width: 100%;
  padding: 2vh;
  padding-left: 6vh;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.11);
}